@import 'theme';

.dropdown-menu-right {
    right: 0;
    left: auto !important;
}

/************************************
            nav topbar
************************************/
@media (max-width: 767px){
    .topbar .top-navbar .navbar-nav>.nav-item.show {
        position: static !important;
    }
}
@media (max-width: 767px){
    .topbar .top-navbar .navbar-nav>.nav-item.show .dropdown-menu {
        width: 100%;
        margin-top: 0;
        position: static !important;
    }
}
@media (max-width: 767px){
    .topbar .top-navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        position: absolute !important;
    }  
}
@media (min-width: 767px){
    .topbar .top-navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        position: absolute !important;
    }  
}

.topbar {
    .top-navbar {
        min-height: 50px;
        padding: 0px;   
        @media (max-width: 767px){
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .navbar-header {
            background: var(--white) !important;
            line-height: 66px;
            padding-left: 10px;
            min-width: 70px;
        }
        .navbar-header .navbar-brand {
            margin-right: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        .navbar-brand{
            margin-right: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
            b{
                line-height: 50px;
                display: inline-block;
            }
        }
        .navbar-collapse {
            padding: 0;
            @media(max-width: 767px){
                display: flex;
                width: 100%;
            } 
            .navbar-nav {
                @media(max-width: 767px){
                        flex-direction: row;
                }
                .nav-item{
                    .nav-link {
                        padding-left: 15px;
                        padding-right: 15px;
                        font-size: 18px;
                        line-height: 50px;
                    }
                    .dropdown-menu {
                        @media (max-width: 767px){
                            position: absolute;
                        }
                        position: static;
                        float: none;
                    }
                    
                }
            }
        } 
        
/************************************
           dropdown
************************************/   

  
        .dropdown-toggle:after {
            display: none;
        }
        .nav-link {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 18px;
            line-height: 50px;
        }
        .mailbox {
            width: 300px;
            ul {
                padding: 0;
                li {
                    list-style-type: none;
                    .drop-title {
                        font-weight: 500;
                        padding: 11px 20px 15px;
                        border-bottom: 1px solid var(--border-bottom-color);
                        font-size: 14px;
                    }
                    .message-center {
                        height: 317px;
                        overflow: auto;
                        position: relative;
                        a {
                            border-bottom: 1px solid var(--border-bottom-color);
                            display: block;
                            text-decoration: none;
                            padding: 9px 15px;
                            div {
                                white-space: normal;
                            }
                            .mail-contnet {
                                display: inline-block;
                                width: 75%;
                                padding-left: 10px;
                                vertical-align: middle;
                                h5 {
                                    margin: 5px 0px 0;
                                    font-size: 16px;
                                    color : var(--gray-extra-dark);
                                }
                                .mail-desc {
                                    font-size: 12px;
                                    font-weight: 300;
                                    display: block;
                                    margin: 1px 0;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    color: var(--gray-extra-dark) !important;
                                    white-space: nowrap;
                                }
                                .time {
                                    font-size: 12px;
                                    font-weight: 300;
                                    display: block;
                                    margin: 1px 0;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    color: var(--gray-extra-dark) !important;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                    .nav-link {
                        border-top: 1px solid var(--border-bottom-color);
                        color: var(--gray-extra-dark) !important;
                        display: block;
                        padding: 0.5rem 1rem;
                    }
                    strong {
                        font-size: 14px !important;
                        font-weight: 400 !important;
                    }
                }
            }
        }
        
    }

}
.navbar-header {
    background: var(--navbar-bg-header);
    line-height: 65px;
    padding-left: 10px;
    min-width: 70px;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.33594rem;
    padding-bottom: 0.33594rem;
    margin-right: 1rem;
    font-size: 1.09375rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}
@media (min-width: 768px){
    .navbar-expand-md .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
}



/************************************
            search
************************************/
.app-search {
    line-height: 60px;
    .form-control {
        border-radius: 60px;
        border-color: transparent;
        transition: 0.2s ease-in;
        width: 180px;
    }
}

