@import 'theme';

/************************************
           right-sidebar
************************************/

.shw-rside {
    right: 0px;
    width: 240px;
    display: block;
}

.right-sidebar {
    position: fixed;
    right: -240px;
    width: 240px;
    display: none;
    z-index: 1100;
    background: var(--white);
    top: 0px;
    padding-bottom: 20px;
    height: 100%;
    box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}   

.right-sidebar .rpanel-title {
    display: block;
    padding: 22px 20px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 15px;
    background: var(--primary);
}
.right-sidebar .rpanel-title span {
    float: right;
    cursor: pointer;
    font-size: 11px;
}