@import 'theme';

.user-profile {
    .user-pro-body {
        img {
            width: 50px;
            display: block;
            margin: 0 auto 10px;
        }
    }
    .u-dropdown {
        display: block;
        text-align: center;
    }
}


