@import 'theme';

.jq-toast-wrap {
    display: block;
    position: fixed;
    width: 250px;
    pointer-events: none !important;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    z-index: 9000 !important;
}

.jq-icon-info {
    background-color: #01c0c8 !important;
    color: #fff;
}
